<section class="hero blue-element is-halfheight">
  <div class="hero-body">
    <div class="container has-text-centered">
        <p class="huge-size is-size-1-touch has-text-weight-light">
        Bienvenido a Nappi
        </p>
    </div>
  </div>
</section>

<div class="container">
  <p class="title is-size-2 pt-6 pb-4 has-text-centered">Pide de tus restaurantes favoritos</p>
</div>

<div class="container">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-parent px-5">
        <div class="tile is-child box px-4">
          <div class="columns">
            <div class="column">
            </div>
            <div class="column">
              <figure class="is-300-container mb-3">
                <%= image_tag("cesarito.png", size: '300x300') %>
              </figure>
              <p class="title has-text-weight-light">El Cesarito</p>
            </div>
            <div class="column">
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent px-5">  
        <div class="tile is-child box px-4">
          <div class="columns">
            <div class="column">
            </div>
            <div class="column">
              <figure class="is-300-container mb-3">
                <%= image_tag("whopper.png", size: '300x300') %>
              </figure>
              <p class="title has-text-weight-light">Burgir</p>
            </div>
            <div class="column">
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-parent px-5">  
        <div class="tile is-child box px-4">
          <div class="columns">
            <div class="column">
            </div>
            <div class="column">
              <figure class="is-300-container mb-3">
                <%= image_tag("whopper.png", size: '300x300') %>
              </figure>
              <p class="title has-text-weight-light">McDowell's</p>
            </div>
            <div class="column">
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
